* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    overflow-y: auto; /* Allows vertical scrolling */
    height: 100vh;    /* Makes the body take the full viewport height */
    margin: 0;        /* Removes default margin */
}

.abc {
    color: black;
    display: flex;
    align-items: center;
}

.ABC {
    font-weight: 900;
    padding-left: 100px;
}

.h1 {
    font-weight: 900;

}

button {
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 7px 7px;
    border: none;
    
}

.aaa {
    padding: 10px 10px;
}

.parent {
    position: relative;
    width: 100%;
    height: 300px;

}

.demo {
    position: absolute;
    top: 38%;
    left: 47%;
} 

.demo1 {
    left: 74%;
} 

@media only screen and (max-width: 575px) {
    .demo {
        position:absolute;
        top: 95%;
        left: 38%;
    }

    .demo1 {
        top: 155%;
    } 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .demo {
        position: absolute;
        top: 95%;
        left: 43%;
    }

    .demo1 {
        top: 155%;
    } 
}